{% extends 'blog/home.html' %}

{% block content %}


<h5>
    <p>Hi there, my name is <span style="color: green">Egbe Victor Junior</span> and I am the guy who built this web app from scratch.
    I am from Cameroon and I live in the capital city, Yaounde. </p>
    <p>
        I am a Software Developer. My favourite programming languages are Python and JavaScript. At the time of this publication, I develop web applications. However, I am gradually gaining skills on Mobile Apps (Android and iOS) Development because of the amazing Facebook's <span style="color: blue;">React Native</span> technology. I Love <span style="color: blue;">ReactJS</span> and <span style="color: blue;">React Native</span> and I hope to deploy my first ReactJS app sometime in the nearest future.
    </p>
    <p>
        I will love to use this medium to say thank you to my family and friends for their endless support and encouragements:
        <ul>
            <li>My Mum, Egbe Joan Tabot. Thanks mummy!</li>
            <li>My Siblings: Amos, Nyenti, Fagan, Besong, Arrey, Pauline. Eyere, Chemene</li>
            <li>My Best Friend, Philip Teke Mwambo and his family</li>
            <li>Mr. Mbiatem Jonhson</li>
            <li>Ashu Solange MaEyong</li>
            <li>Epiphany Limunga</li>
            <li>Nanga'a Clara(NCNN)</li>
            <li>Ewokolo Peace</li>
            <li>... and You for your contribution.</li>
        </ul>
    </p>
    <p>
        Thanks everyone and next time.
    </p>
    <p style="color: green">
        Victor Egbe
    </p>
</h5>

{% endblock content %}

